<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>Add A New User!</h2>
    <form method="POST" action="/user">
        Enter Username : <input type="text" name="username" placeholder="username"><br>
        Enter Password : <input type="password" name="password" placeholder="password"><br>
        Enter email : <input type="email" name="email" placeholder="email"><br>
        <button>Submit!</button>
    </form>
</body>
</html>